@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/footer.css">
    <title></title>
</head>
<body>
    <div>
        <footer class="footer">
            <div class="container-fluid" id="section1">
                <div class="row">
                    <div class="col-8" id="description">
                        <h3 style="color:white">Scire</h3>
                        <p style="color:white">
                            Somos una página web creada por estudiantes de la Universidad Del Valle (Univalle) con
                            el fin de compartir comentarios y conocimiento para poder progresar de forma
                            colaborativa con la ayuda de los docentes que se unan a esta idea.
                        </p>
                    </div>
                    <div class="col" id="social">
                        <a href="">
                            <img src="~/icons/facebook.png" class="icon" />
                        </a>
                        <a href="">
                            <img src="~/icons/twitter.png" class="icon" />
                        </a>
                        <a href="">
                            <img src="~/icons/linkedin.png" class="icon" />
                        </a>
                        <a href="">
                            <img src="~/icons/youtube.png" class="icon" />
                        </a>
                        <a href="">
                            <img src="~/icons/user.png" class="icon" />
                        </a>
                        <a href="">
                            <img src="~/icons/github.png" class="icon" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-3" id="copyright">
                <div class="row">
                    <div class="col">
                        <span class="spanCopy" id="conditions">
                            © Copyright 2021 Scire - Univalle. Todos los derechos reservados
                        </span>
                    </div>
                    <div class="col-2">
                        <a href="" id="conditions" class="terms">Términos y condiciones</a>
                    </div>
                    <div class="col-2">
                        <a href="" id="conditions">Privacidad y Cookies</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
