@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link href="~/css/hea.css" rel="stylesheet">

    <style>
        .na {
            background-color: #9e0044;
        }

        #header {
            height: 92px;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            transition: all 0.5s;
            z-index: 997;
        }
    </style>
</head>
<body>
    <header id="header">
        <nav class="na navbar navbar-expand-xl navbar-light d-flex text-white justify-content-center align-items-center flex-column">
            <h1 class="navbar-brand text-white">SCIRE - UNIVALLE</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active light">
                        <a class="nav-link light" href="#" style="color:white">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true" aria-expanded="false">
                            Estudiantes
                        </a>
                        <div class="dropdown-menu op" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Apuntes de estudiantes</a>
                            <a class="dropdown-item" href="#">Option2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Option3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle op" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true" aria-expanded="false">
                            Materias
                        </a>
                        <div class="dropdown-menu op" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Bibliografías</a>
                            <a class="dropdown-item" href="#">Option2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Option3</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="~/loginSignup.cshtml">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Iniciar sesión</button>
                </form>
                <form class="form-inline my-2 my-lg-0" action="~/loginSignup.cshtml">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Registrarse</button>
                </form>
            </div>
        </nav>
    </header>
</body>
</html>