@{
    var user = "";
    if (Session["name"] != null) {
        user = Session["name"] + "-" + Session["role"];
    }

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script>
        function deleteSession() {
          
        }
    </script>
    <style>
        .na {
            background-color: #9e0044;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
        }
        .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
            margin-top: 0;
        }    
    </style>
</head>
<body>
    <header id="header">
        <nav class="na navbar navbar-expand-xl navbar-light d-flex text-white justify-content-center align-items-center flex-column">
            <h1 class="navbar-brand text-white">SCIRE - UNIVALLE</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active light">
                        <a class="nav-link light" href="~/index.cshtml" style="color:white">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true" aria-expanded="false">
                            Estudiantes
                        </a>
                        <div class="dropdown-menu op" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/purposeNotes.cshtml">Apuntes de estudiantes</a>
                            <a class="dropdown-item" href="#">Option2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Option3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle op" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="color:white" aria-haspopup="true" aria-expanded="false">
                            Materias
                        </a>
                        <div class="dropdown-menu op" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/purpose.cshtml">Bibliografías</a>
                            <a class="dropdown-item" href="#">Opcion 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Option3</a>
                        </div>
                    </li>
                    <li class="nav-item active light">
                        <a class="nav-link light" href="~/index.cshtml" style="color:white">@user</a>
                    </li>
                </ul>

                @if (Session["name"] != null)
                {
            <form class="row row-cols-lg-auto me-2 ms-2" action="~/extras/abandonSession.cshtml">
                <button class="btn btn-outline-light my-2 my-sm-0" onclick="">Cerrar sesion</button>
               
            </form>
                }
                else
                {
                    <form class="form-inline my-2 my-lg-0 me-2 ms-2" action="~/signin.cshtml">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Iniciar sesión</button>
                    </form>
                    <form class="form-inline my-2 my-lg-0 ms-2" action="~/signup.cshtml">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Registrarse</button>
                    </form>
                }

               

            </div>
        </nav>
    </header>
</body>
</html>