@{
    Layout = "_menuPageTwoLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">¿Comó contribuir?</h1>
            <p>
                El conocimiento abierto se define como conocimiento accesible, libre de uso, y gratuito a su usuario. Este concepto es parte de un movimiento que busca generar soluciones para el bien público de manera colaborativa. En “Abierto al Público” exploramos el uso del conocimiento abierto a través de los datos, el código y otros medios
            </p>
            <p>
                1. Incluye una descripción alternativa para imágenes, gráficos, videos, figuras, etc.
                El texto alternativo ayuda a comprender las imágenes u objetos del contenido digital, este se utiliza en la web para evitar vacíos de información en caso de problemas de conectividad a internet o carga y además permite que personas con discapacidad visual accedan estos elementos al utilizar lectores de pantalla.

                Por lo cual, al utilizar alguno de estos elementos, te recomendamos incluir texto alternativo que describa el contenido principal del recurso seleccionado.

                Para incluirlo, es útil preguntarse, ¿qué valor añadido tiene este recurso? Convirtiendo la respuesta a esta pregunta en una narración descriptiva generarás el texto alternativo de tu imagen o gráfico.
            </p>
            <p>
                2. Haz que el texto de hipervínculos sea significativo
                Finalmente, recomendamos que cuando insertes un hipervínculo en un texto, que el texto utilizado describa el contenido al cual se está dirigiendo. Evita utilizar textos ambiguos de referencia como “haga clic aquí”, “para ver más aquí”, o la dirección URL, ya que solo generan confusión.

                Es importante nombrar a los hipervínculos describiendo la fuente y el tipo de archivo al cual dirige para orientar mejor al lector de nuestro contenido.
            </p>
        </div>

    </div>

</body>
</html>
