@using System.Text.RegularExpressions

@{

    var menssage = "";
    Validation.Add("txtemail", Validator.Regex(@"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)\Z", "Email incorrecto"));
    Validation.Add("passwordConfirmUP", Validator.EqualsTo("passwordUP", "Las contraseñas no coinciden"));

    if (IsPost)
    {
        var email = Request["emailUp"];
        var emailIn = Request["emailIN"];
        if (email != null)
        {
            if (Validation.IsValid())
            {
                if (Regex.IsMatch(email, @"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@est\.univalle\.edu?)\Z"))
                {
                    //Estudiante
                    var db = Database.Open("connectionString");

                    var Name = Request.Form["nameUp"];
                    var Lastname = Request.Form["lastnameUP"];
                    var Password = Request.Form["passwordUP"];
                    var PasswordConfirm = Request.Form["passwordConfirmUP"];

                    var insertQuery = "INSERT INTO Person(name, lastName, email, password, role) VALUES (@0,@1,@2, HashBytes('md5',@3),@4)";
                    db.Execute(insertQuery, Name.ToString().ToUpper(), Lastname.ToString().ToUpper(), email, PasswordConfirm, "ESTUDIANTE");
                }
                else if (Regex.IsMatch(email, @"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@univalle\.edu?)\Z"))
                {
                    //Docente
                    var db = Database.Open("connectionString");

                    var Name = Request.Form["nameUp"];
                    var Lastname = Request.Form["lastnameUP"];
                    var Password = Request.Form["passwordUP"];
                    var PasswordConfirm = Request.Form["passwordConfirmUP"];

                    var insertQuery = "INSERT INTO Person(name, lastName, email, password, role) VALUES (@0,@1,@2, HashBytes('md5',@3),@4)";
                    db.Execute(insertQuery, Name.ToString().ToUpper(), Lastname.ToString().ToUpper(), email, PasswordConfirm, "DOCENTE");

                }
            }
        }
        else if (emailIn != null)//login
        {
            if (Validation.IsValid())
            {
                    //Estudiante
                    var db = Database.Open("connectionString");

                    var Password = Request.Form["passwordIN"];

                    var query = db.Query("SELECT name, lastname, role, email, [password] FROM Person WHERE email='" + emailIn + "' AND [password] = HashBytes('md5','" + Password + "')");
                    List<string> user = new List<string>();
                    foreach (var u in query)
                    {
                        user.Add(u.name);
                        user.Add(u.lastname);
                        user.Add(u.role);
                        user.Add(u.email);
                    }

                    if (query.Count() > 0)
                    {
                        Session.Add("name", user[0]);
                        Session.Add("lastname", user[1]);
                        Session.Add("role", user[2]);
                        Session.Add("email", user[3]);
                        Response.Redirect("~/index");
                    }
                    else
                    {
                        menssage = "Usuario no existente";
                    }
            }
        }
    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/css/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/loginScript.js"></script>
</head>
<body>
    <div>
        <h2> BIENVENIDO A SCIRE UNIVALLE </h2>
        <div class="container" id="container">
            <!--******** SIGN UP *********-->
            <div class="form-container sign-up-container">
                <form id="form" action="#" method="post">
                    <h1>Crear cuenta</h1>
                    <span>
                        Registrate usando tu correo <br />
                    </span>
                    <input type="text" name="nameUP" placeholder="Nombre" onkeyup="convertupper()" id="name" required />
                    <input typeof="text" name="lastnameUP" placeholder="Apellido" id="lastname" required />
                    <input type="email" name="emailUp" placeholder="Correo" id="email" required />
                    <input type="password" name="passwordConfirmUP" placeholder="Confirme su contraseña" id="passwordConfirm" required />
                    <span class="msg" id="msg"></span>
                    <button type="submit" name="btnSignUp">Registrarse</button>
                    <label>
                </form>
            </div> <!--Sign up-->
            <!--******** SIGN IN *********-->
            <div class="form-container sign-in-container">
                <form id="form" action="#" method="post">
                    <h1>Ingresar</h1>
                    <span>Ingresa con tu correo</span>
                    <input type="email" name="emailIN" placeholder="Correo" required />
                    <input type="password" name="passwordIN" placeholder="Contraseña" required id="pwd" onkeyup="validatePassword(this.value);" />
                    <span class="msg" id="msg">@menssage</span>
                    <a href="#">Olvido su contraseña?</a>
                    <button type="submit" name="btnSignIn" onsubmit="signin()" ;>Ingresar</button>
                </form>
            </div> <!--Sign in-->

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">

                        <h1>Hola, Amigo!</h1>

                        <p>Adentrate en nuestra comunidad</p>
                        <button class="ghost" id="signIn">Ingresar</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Bienvenido de nuevo!</h1>

                        <p> Ha pasado mucho tiempo </p>
                        <button class="ghost" id="signUp">Registrarse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
