@{
    Layout = "_menuPageTwoLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finalidad - Bibliografia</title>
</head>
<body>  
    <div id="page-content-wrapper">
        <div class="container-fluid">
        <h1 class="mt-4">Finalidad de esta seccion</h1>
        <p>Comparte tus contenidos con tus compañeros para una experiencia de aprendizaje más rica.</p>
        <p>
            Sin lugar a dudas es más sencillo aprender cuando tienes ayuda. Colaborando puedes avanzar más rápido. Nuestros Apuntes son ideales para compartir pensamientos, perspectivas frescas o carga de trabajo… ¡Las posibilidades son infinitas! Tanto si te falta un apunte específico como si necesitas contrastar tus notas, con GoConqr puedes encontrar todo lo que necesitas.

            Tanto si eres estudiante como profesor, estarás haciendo un enorme favor a miles de usuarios si compartes los recursos que creas. De este modo, realizarás una aportación a la comunidad educativa en línea de GoConqr y conectarás con personas de alrededor del mundo con inquietudes similares a las tuyas. Por el otro lado, también tienes la opción de mantener privado un recurso o solo compartirlo con los usuarios que quieras
        </p>
        </div>

    </div>

</body>
</html>

