@{
    Layout = "_menuPageOneLayout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finalidad - Bibliografia</title>
</head>
<body>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Finalidad de esta seccion</h1>
            <p>Estamos consientes de la nececidad que se tiene de al momento de conseguir referencia y contenido especifico a un determinado tema, ha esto viene esta sección que te brindara las refencias a los contenidos necesarios referente a una determinada materia.</p>
            <p>
                Hay que tener en cuenta que hasta mediados del siglo XX la bibliografía entendida
                desde el punto de vista tradicional, se identificaba con las fuentes de información,
                dado que los soportes de carácter bibliográfico, (libros, publicaciones periódicas...),
                eran los documentos propios de la información. Pero en la actualidad, el concepto de
                fuentes de información se amplia a todo tipo de documentos independientemente del
                soporte y ello es debido a la introducción de las tecnologías en el acceso, la
                elaboración y la identificación de la información. El reconocimiento de las fuentes de
                información son, (o deberían ser), un imperativo ético, un acto rutinario de honestidad
                intelectual. Porque ofrecer la fuente sirve invariablemente para tener la información
                completa y para alejar cualquier sospecha de plagio.
                Evidentemente tampoco debe caerse en la tentación de abusar de las citas y crear un
                documento donde las notas a pie de página y las anotaciones tengan mayor carga
                semántica que el propio documento, como casi todo en esta vida, el acierto está en el
                justo medio.
            </p>
        </div>

    </div>

</body>
</html>

