@using System.Text.RegularExpressions
@{
    Validation.Add("emailUp", Validator.Regex(@"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)\Z", "Email incorrecto"));
    Validation.Add("passwordConfirmUP", Validator.EqualsTo("passwordUP", "Las contraseñas no coinciden"));
    Validation.Add("passwordUP", Validator.Regex(@"^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$", "Mninimo 8 caracteres. Agrege un numero"));


    var email = Request["emailUp"];
    var Name = Request.Form["nameUp"];
    var Lastname = Request.Form["lastnameUP"];
    var Password = Request.Form["passwordUP"];
    var PasswordConfirm = Request.Form["passwordConfirmUP"];

    if (IsPost)
    {

        if (Validation.IsValid())
        {
            var db = Database.Open("connectionString");
            try
            {
                if (Regex.IsMatch(email, @"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@est\.univalle\.edu?)\Z"))
                {
                    //Estudiante
                    var query = db.Query("SELECT email FROM Person WHERE email='" + email + "'");
                    if (query.Count() == 0)
                    {

                        var insertQuery = "INSERT INTO Person(name, lastName, email, password, role) VALUES (@0,@1,@2, HashBytes('md5',@3),@4)";
                        db.Execute(insertQuery, Name.ToString().ToUpper(), Lastname.ToString().ToUpper(), email, PasswordConfirm, "ESTUDIANTE");

                        var selectQuery = db.Query("SELECT idPerson FROM Person WHERE email='" + email + "'");
                        List<int> userId = new List<int>();
                        foreach(var i in selectQuery) { userId.Add(i.idPerson); }

                        var insertStudentQuery = "INSERT INTO Student(idStudent, career) VALUES(@0,@1)";
                        db.Execute(insertStudentQuery, userId[0], "ISI");
                        Response.Redirect("signin");
                    }
                    else
                    {
                        <script>
                            window.alert("Email existente");
                        </script>
                    }
                }
                else if (Regex.IsMatch(email, @"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@univalle\.edu?)\Z"))
                {
                    //Docente
                    var query = db.Query("SELECT email FROM Person WHERE email='" + email + "'");
                    if (query.Count() == 0)
                    {
                        var insertQuery = "INSERT INTO Person(name, lastName, email, password, role) VALUES (@0,@1,@2, HashBytes('md5',@3),@4)";
                        db.Execute(insertQuery, Name.ToString().ToUpper(), Lastname.ToString().ToUpper(), email, PasswordConfirm, "DOCENTE");
                        Response.Redirect("signin");
                    }
                    else
                    {
                        <script>
                            window.alert("Email existente");
                        </script>
                    }
                }
                else
                {
                    <script>
                        window.alert("Ingrese su correo institucional Univalle");
                    </script>
                }
            }
            catch (Exception ex)
            {
                throw ex;
            }
            finally
            {
                db.Close();
            }

        }
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/css/login.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function openSignIn() {
            window.location.href = "signin.cshtml";
        }
    </script>
</head>
<body>
    <div>
        <h2> BIENVENIDO A SCIRE UNIVALLE </h2>
        <div class="container right-panel-active" id="container">
            <!--******** SIGN UP *********-->
            <div class="form-container sign-up-container ">

                <form id="form" action="" method="post">
                    <h1>Crear cuenta</h1>
                    <span style="margin:2px; color:red; font-weight:400">
                        Registrate usando tu correo institucional Univalle<br />

                    </span>
                    <input type="text" name="nameUP" value=@Name placeholder="Nombre" onkeyup="convertupper()" id="name" required />
                    <input typeof="text" name="lastnameUP" value=@Lastname placeholder="Apellido" id="lastname" onkeyup="convertupper()" required />
                    <input type="email" name="emailUp" value=@email placeholder="Correo" id="email" required />
                    <input type="password" name="passwordUP" value=@Password placeholder="Contraseña" id="password" required />
                    <input type="password" name="passwordConfirmUP" value=@PasswordConfirm placeholder="Confirme su contraseña" id="passwordConfirm" required />
                    <p style="margin:2px; color:red; font-weight:400">@Html.ValidationMessage("passwordConfirmUP")</p>
                    <p style="margin:2px; color:red; font-weight:400">@Html.ValidationMessage("passwordUP")</p>
                    <button type="submit" name="btnSignUp">Registrarse</button>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">

                        <h1>Hola, Amigo!</h1>

                        <p>Adentrate en nuestra comunidad</p>
                        <button class="ghost" id="signIn" type="submit" onclick="openSignIn()">Ingresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
